@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
}

:root {
  --main-color: #6366f1;
  --main-bg-color: #171717;
  --second-bg-color: #1c1c1e;
  --border-color: #262626;
}

.hr {
  background-color: var(--border-color);
  height: 2px;
}

.splitpanes--vertical > .splitpanes__splitter {
  min-width: 6px;
  margin: 0 0.5rem;
  background-color: var(--border-color);
  border-radius: 1rem;
}

.splitpanes__splitter:hover,
.splitpanes__splitter:active {
  background-color: var(--main-color);
}

.splitpanes__pane {
  display: flex;
  flex-grow: 1;
}

.text-main {
  color: var(--main-color);
}
.bg-main-color {
  background-color: var(--main-color);
}
